{{>header}}

<div class="container mt-3">
    <div class="card">
        <div class="card-header">Welcome</div>
        <div class="card-body">
            {{>partials/alert}}
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-sm btn-primary">I Understand</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{>footer}}